<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>index</h1>
    <form>
        <label for="inMail">
            mail:
            <input type="text" name="inMail" id="inMail" />
        </label>
        <br />
        <label>body:</label>
        <br />
        <textarea name="inBody" id="inBody" cols="30" rows="10"></textarea>
    </form>
    <button id="sendBtn">send</button>
    <script src="main.js"></script>
</body>
</html>